<h1>Students</h1>

<% @students.each do |student| %>
  <section id="student-<%= student.id %>" >
    <p>Name: <%= student.name %></p>
    <p>Cohort: <%= student.cohort_number %></p>
    <p>Instructor: <%= student.teachers.pluck(:name).join %></p>
  </section>
<% end %>